// Don't use vendor-prefixed @keyframes
vendors = official

tracking(letter, word = false)
	letter-spacing letter
	if word
		word-spacing word

$primary_color = #6441A5
$primary_dark = #442185

$secondary_color = #256EFF
$secondary_dark = #054EDF

$subheading_font = Verdana, Geneva, sans-serif
$body_font = 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif
$control_font = Arial, 'Helvetica Neue', Helvetica, sans-serif
$heading_font = 'Calibri Light', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif