// Don't use vendor-prefixed @keyframes
vendors = official

$primary_color = #6441A5
$primary_shadow = #341175

$main_font = 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif
$heading_font = Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif