@import "app"

*
	box-sizing border-box

body
	margin 0
	padding-bottom 20px
	width 340px
	font-size 18px
	font-family $main_font
	background #DDDDDD

// Header

#header
	background $primary_color
	padding-top 10px

.bar
	padding 5px 12px 10px
	margin 0 10px 10px
	border-radius 2px
	position relative

	.content
		display inline-block

	.controls
		display inline-block
		position absolute
		right 5px

	.button
		cursor pointer
		width 24px
		height 24px

// Username bar

$user_background = #55DD33
$user_shadow = #22AA00

#user_bar
	background $user_background
	color #FFFFFF
	font-size 0.9em
	box-shadow 0 0 3px $primary_shadow, inset 0 0 3px $user_shadow
	cursor pointer

	&.editing
		cursor default

	.button-row
		text-align right

	button
		background transparent
		border-color transparent
		border-radius 2px
		padding 3px 7px
		color #FFFFFF
		font-size 0.9em
		cursor pointer
		text-transform uppercase
		letter-spacing 1px
		outline 0
		font-family $main_font

	button:hover
		background darken(@background, 10%)

	button:focus
		background darken(@background, 20%)

#user_bar.warning
	background #FF2222
	box-shadow 0 0 3px $primary_shadow, inset 0 0 3px #BB0000

	button:hover
		background darken(@background, 10%)

	button:focus
		background darken(@background, 20%)

#username_editor
	display none

	#user_bar.editing &
		display block

#username_field
	display block
	border none
	box-shadow 0 0 3px $user_shadow, inset 0 0 3px #CCCCCC
	border-radius 2px
	background #FFFFFF
	font-size 1em
	padding 5px 0
	margin 13px 0 10px
	text-align center
	letter-spacing 2px
	width 100%
	outline 0

#edit_button
	background url('/img/edit.png')

// Update time tracker bar

#info_bar
	font-size 0.8em
	background #FFFFFF
	box-shadow 0 0 3px $primary_shadow, inset 0 0 3px #DDDDDD
	cursor default
	color #000000

#time_label
	color #555555

#reload_button
	background url('/img/reload.png')

#reload_button.updating
	animation-name reload_button_updating
	animation-duration 1.5s
	animation-iteration-count infinite
	animation-timing-function cubic-bezier(0.6, -0.28, 0.735, 0.045)

@keyframes reload_button_updating
	100%
		transform rotateZ(360deg)

// Tab bar

nav
	font-size 0.9em
	margin 20px 10px 0

	ul
		margin 0
		padding 0
		list-style-type none

	li
		color #BBBBBB
		display inline-block
		padding 0 0 12px
		letter-spacing 1px
		cursor pointer
		width 50%
		text-align center

		&.active
		&:hover
			color #FFFFFF

		&.active
			border-bottom 3px solid #FFFFFF

// Streams & channels

#lists
	ul
		list-style-type none
		margin 0
		padding 0
		display none

		&.active
			display block

.notice
	margin 20px 10px 0
	padding 10px 14px
	background $primary_color
	color #FFFFFF
	border-radius 2px
	box-shadow 0 0 3px #666666
	cursor default

.item
	background #FFFFFF
	cursor pointer
	position relative
	margin 20px 10px 0
	border-radius 0 0 2px 2px
	box-shadow 0 1px 3px #666666
	padding-bottom 10px

	.lead
		font-size 1em
		letter-spacing 2px
		margin 0
		font-weight normal
		font-family $heading_font
		background #F0F0F0
		padding 10px 14px

	.icon
		margin-right 8px
		height 24px
		width 24px
		// I don't know why this is necessary
		min-width 24px

	.game
	.audience
		margin-top 10px
		display flex
		flex-direction row
		align-items center

	.game_name
		color $primary_color
		overflow hidden
		white-space nowrap

		&:hover
			border-bottom 1px solid $primary_color

	.game_icon
		background url('/img/game.png')

	.audience_count
		color #555555

	.audience_icon
		background url('/img/audience.png')

	.description
		clear both
		padding 10px 14px 0
		color #555555
		font-style italic
		font-size 0.8em

.favorite
	float right

	.favorite_icon
		width 24px
		height 24px
		display block
		background url('/img/favorite-unfavorited.png')

	&[data-favorite='true'] .favorite_icon
		background url('/img/favorite-favorited.png')

	&[data-favorite='true']:hover .favorite_icon
		background url('/img/favorite-unfavorite.png')

.preview
	display inline-block
	width 40%
	float left
	position relative

	img
		width 100%
		vertical-align middle

	&:hover::after
		content 'enlarge'
		text-transform uppercase
		text-align center
		color #FFFFFF
		position absolute
		background rgba(50, 50, 50, 0.5)
		width 100%
		line-height 72px
		top 0
		bottom 0
		letter-spacing 1px

	&.enlarged
		display block
		width 320px
		float none

		&:hover::after
			content 'shrink'
			line-height 180px

.metadata
	font-size 0.83em

	.stream &
		display inline-block
		padding 0 10px 0 8px
		width 60%

	.channel &
		padding 0 14px

	.preview.enlarged + &
		display block
		width 100%

#modeToggle
	margin 20px 10px 0
	border-radius 2px
	box-shadow 0 0 3px #666666
	background #FFFFFF
	display inline-block
	color #222222
	padding 10px 14px

#modeToggle_checkbox
	margin 0 10px 0 0

#modeToggle
#modeToggle_checkbox
#modeToggle_label
	cursor pointer

#options_button
	position fixed
	bottom 15px
	right 15px
	height 48px
	width 48px
	padding 6px
	border-radius 100px
	background $primary_color
	box-shadow 0 0 3px #666666
	z-index 1
	cursor pointer

	img
		vertical-align middle

.--darkMode
	body&
		background #333333

	#info_bar
		background #333333
		box-shadow 0 0 3px $primary_shadow, inset 0 0 3px #111111
		color #FFFFFF

	#time_label
		color #AAAAAA

	#reload_button
		background url('/img/darkMode_reload.png')

	.notice
		box-shadow 0 0 3px #111111

	.item
	#modeToggle
		background #777777
		box-shadow 0 1px 3px #111111
		color #FFFFFF

	.lead
		background #555555

	.game_name
		color #FFFFFF

		&:hover
			border-bottom 1px solid #FFFFFF

	.game_icon
		background url('/img/darkMode_game.png')

	.audience_count
		color #DDDDDD

	.audience_icon
		background url('/img/darkMode_audience.png')

	.description
		color #DDDDDD

	#options_button
		box-shadow 0 0 3px #111111
