@import "app"

*
	box-sizing border-box

body
	margin 0
	padding-bottom 20px
	width 340px
	font-size 18px
	font-family $body_font
	background #DFDFDF

p
	margin 0

#header
	background #6441A5
	padding-top 10px

.bar
	padding 5px 12px 10px
	margin 0 10px 0
	border-radius 2px

	& + .bar
		margin-top 10px

.content
	display inline-block
	vertical-align middle

.controls
	display inline-block
	vertical-align middle
	position absolute
	right 12px

.button
	cursor pointer
	width 24px
	display block
	height 24px

#user_bar
	background #5FDC35
	color #FFFFFF
	font-size 0.9em
	box-shadow 0 0 3px #442185, inset 0 0 3px #3FBC15
	cursor pointer

	button
		background transparent
		border-color transparent
		border-radius 2px
		padding 3px 7px
		color #FFFFFF
		font-size 0.9em
		font-family $control_font
		cursor pointer
		text-transform uppercase
		outline 0

	button:hover
		background darken(@background, 10%)

	button:focus
		background darken(@background, 20%)

#user_bar.warning
	background #FF2222
	color #FFFFFF
	box-shadow 0 0 3px #442185, inset 0 0 3px #BB0000

	button:hover
		background darken(@background, 10%)

	button:focus
		background darken(@background, 20%)

#user_bar.editing
		cursor default

#username_editor
	display none

	#user_bar.editing &
		display block

#username_field
	display block
	border none
	box-shadow 0 0 3px #3FBC15, inset 0 0 3px #D0D0D0
	border-radius 2px
	background #FFFFFF
	font-size 1em
	padding 5px 0
	margin 13px 0 10px
	text-align center
	letter-spacing 2px
	width 100%
	outline 0

.button-row
	text-align right

.button-row button + button
	margin-left 0

#options_button
	background-color #6441A5
	border-radius 100px
	position fixed
	bottom 15px
	right 15px
	padding 6px
	width 48px
	height 48px
	z-index 1
	box-shadow 0 0 3px #6A6A6A

	img
		vertical-align middle

#edit_button
	background url('/img/edit.png')

#reload_button
	background url('/img/reload.png')

#reload_button.updating
	animation-name reload_button_updating
	animation-duration 1.5s
	animation-iteration-count infinite
	animation-timing-function cubic-bezier(0.6, -0.28, 0.735, 0.045)

@keyframes reload_button_updating
	100%
		transform rotateZ(360deg)

#info_bar
	font-size 0.8em
	background #FFFFFF
	box-shadow 0 0 3px #442185, inset 0 0 3px #DFDFDF

	.content
		cursor default

#time_label
	color #5F5F5F

#time_display
	margin-left 10px

nav
	font-size 0.9em
	margin 30px 10px 0

	ul
		margin 0
		list-style-type none
		padding 0

	li
		color #C0C0C0
		display inline-block
		padding 0 0 12px
		letter-spacing 1px
		cursor pointer
		width 50%
		text-align center

		&.active
		&:hover
			color #FFFFFF

		&.active
			border-bottom 3px solid #FFFFFF

#lists
	ul
		list-style-type none
		margin 0
		padding 0
		display none

		&.active
			display block

.notice
	margin 0 10px
	padding 10px 20px
	background #7E5BBE
	color #FFFFFF
	border-radius 2px
	box-shadow 0 0 3px #6A6A6A

.item
	background #FFFFFF
	cursor pointer
	position relative
	margin 20px 10px 0
	border-radius 0 0 2px 2px
	box-shadow 0 1px 3px 0 #707070
	padding-bottom 10px

	.lead
		font-size 1em
		letter-spacing 2px
		margin 0
		font-weight normal
		font-family Calibri
		background #F0F0F0
		padding 10px 14px

	.icon
		margin-right 8px
		height 24px
		width 24px
		// I don't know why this is necessary
		min-width 24px

	.audience
	.game
		margin-top 10px
		display flex
		flex-direction row
		align-items center

	.audience_count
		color #555555

	.game_name
		color #6441A5
		overflow hidden
		white-space nowrap

		&:hover
			border-bottom 1px solid #6441A5

	.favorite
		float right

		.favorite_icon
			width 24px
			height 24px
			display block
			vertical-align middle
			background url('/img/favorite-unfavorited.png')

	.favorite[data-favorite='true'] .favorite_icon
		background url('/img/favorite-favorited.png')

	.favorite[data-favorite='true']:hover .favorite_icon
		background url('/img/favorite-unfavorite.png')

.game_icon
	background url('/img/game.png')

.audience_icon
	background url('/img/audience.png')

.preview
	display inline-block
	width 40%
	float left
	position relative

	&:hover::after
		content 'enlarge'
		text-transform uppercase
		text-align center
		color #FFFFFF
		position absolute
		background rgba(50, 50, 50, 0.5)
		width 100%
		line-height 72px
		top 0
		bottom 0
		letter-spacing 1px

	img
		width 100%
		vertical-align middle

	&.enlarged
		display block
		width 320px
		float none

		&:hover::after
			content 'shrink'
			line-height 180px

.metadata
	font-size 0.83em

	.stream &
		display inline-block
		padding 0 10px 0 8px
		width 60%

	.preview.enlarged + &
		display block
		width 100%

.channel
	.metadata
		padding 0 14px

.description
	clear both
	padding 10px 14px 0
	color #6A6A6A
	font-style italic
	font-size 0.8em

#modeToggle
	margin 20px 10px 0
	border-radius 2px
	box-shadow 0 0 3px #707070
	background #FFFFFF
	display inline-block
	color #222222
	padding 10px 14px

#modeToggle_checkbox
	margin 0 10px 0 0

#modeToggle
#modeToggle_checkbox
#modeToggle_label
	cursor pointer

.--darkMode
	body&
		background #343434

	#options_button
		box-shadow 0 0 3px #111111

	#info_bar
		background #343434
		box-shadow 0 0 3px #442185, inset 0 0 3px #111111
		color #FFFFFF

	#time_label
		color #AFAFAF

	.notice
		box-shadow 0 0 3px #111111

	.item
	#modeToggle
		background #787878
		box-shadow 0 1px 3px #111111
		color #FFFFFF

	.lead
		background #565656

	.game_name
		color #FFFFFF

		&:hover
			border-bottom 1px solid #FFFFFF

	.game_icon
		background url('/img/darkMode_game.png')

	.audience_count
		color #DFDFDF

	.audience_icon
		background url('/img/darkMode_audience.png')

	.description
		color #D9D9D9

	#reload_button
		background url('/img/darkMode_reload.png')
